* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin-left: 100px;
}

.advantages {
  display: block;
  height: 570px;
  background-color: #ffffff;
  text-align: center;
}

.advantages-text {
  padding-top: 120px;
  color: #383838;
  font-size: 40px;
  font-weight: bold;
}

.color-line {
  display: flex;
  border-top: 4px solid #f5bd41;
  width: 100px;
  margin-left: 670px;
  margin-top: 20px;
}

.advantages-content {
  display: flex;
  justify-content: center;
  padding-top: 115px;
  padding-bottom: 115px;
  text-align: center;
}

.size-advantages-content {
  /*display: inline-block;*/
  width: 300px;
  height: 185px;
}

.size-advantages-content > p {
  font-size: 24px;
}

img {
  margin-bottom: 60px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 625px;
  background-color: #10367c;
  color: #FFFFFF;
}

.footer-column {
  display: flex;
  justify-content: space-around;
}

li{
  list-style-type: none;
}

.rectangle{
  margin-left: 165px;
}

